<div class="mt-2 bg-gray-200 w-fit rounded-md px-2 py-1">
  <div class="text-lg font-medium">
    <%= link_to comment.commenter do %>
      <%= comment.commenter.profile.first_name %> <%= comment.commenter.profile.last_name %>
    <% end %>
  </div>
  <%= comment.body %>
</div>
