<div class="mt-2 bg-gray-200 w-fit rounded-md px-2 py-1">
  <div class="text-lg font-medium flex">
    <%= render comment.commenter %>
  </div>

  <div>
    <%= comment.body %>
  </div>
</div>

<%= render "likes/button", likeable: comment %>
