<% current_user.other_users.each do |other_user| %>
  <div class="flex justify-between items-center">
    <%= render other_user %>

    <% existing_request = FriendRequest.find_by(sender: current_user, receiver: other_user) %>
    <div class="basis-1/2 flex justify-end">
      <% if existing_request %>
        <%= button_to "Cancel Request", existing_request, method: :delete, class: "p-2 rounded shadow-md border border-gray-200 bg-gray-200 hover:bg-gray-300 focus:bg-gray-400" %>
      <% else %>
        <%= button_to "Add friend", friend_requests_path, params: { friend_request: { receiver_id: other_user.id } }, class: "p-2 rounded shadow-md border border-gray-200 hover:bg-gray-100 focus:bg-gray-200", form_class: "flex justify-end basis-1/2" %>
      <% end %>
    </div>
  </div>
<% end %>
