<div class="flex flex-col min-h-screen">
  <%= render "shared/navbar" %>
  <div class="mt-20 ml-8 space-y-10">
    <div class="text-xl font-medium">
      <%= @profile.first_name %> <%= @profile.last_name %>
    </div>

    <div>
      Birthday: <%= @profile.birth_date %>
    </div>
  </div>
</div>
