<div class="mx-4 mb-4 p-8 text-justify rounded-lg shadow-lg bg-gray-50">
  <%= form_with model: Post.new, data: { controller: "post-form", action: "turbo:submit-end->post-form#clear" }, html: { class: "flex flex-col" } do |form| %>
    <%= form.text_area :content, rows: 3, class: "focus:outline-none bg-gray-200 resize-none w-full rounded p-2", placeholder: "What's on your mind?", required: true, data: { post_form_target: "textArea" } %>

    <%= form.submit class: "mt-2 p-1 bg-gray-200 hover:bg-gray-100 focus:bg-gray-300 rounded-md py-1" %>
  <% end %>
</div>
